* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  /* --bg-color:white;
--nav-color:black; */
}
body {
  background-color:rgb(193 155 76 / 34%)
}

/*----------header--------------*/
.navbar-header {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
.left-header-box {
  float: left;
  padding: 10px 15px;
  height: 55px;
}
a {
  text-decoration: none;
}
.icon-box {
  position: relative;
  margin-right: 5px;
  top: 0;
  width: 35px;
  height: 35px;
  vertical-align: middle;

  display: inline-block;
  transition: transform 0.3s ease;
  background-color: #b589089e;
  border-radius: 50%;
  text-align: center;
}
.icon-box i {
  cursor: pointer;
  position: relative;
  top: 7px;
  color: white;
}
.navbar-header h1,
.navbar-header span {
  text-transform: capitalize;
  color: rgb(58, 48, 5);
  display: inline-block;
  position: relative;
  top: 2px;
  text-transform: capitalisearch-areaze;
}
.right-header-box {
  float: right;
  display: block;
  width: 150px;
  height: 55px;
  padding: 10px 15px;
}
#search-box {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  height: 37px;
  border-radius: 20px;
  top: 1rem;
  background-color: rgb(194, 183, 169);
}
@media (max-width: 480px) {
  #search-box {
    width: 22rem;
  }
}
input {
  width: 150px;
  border: none;
  outline: none;
  height: 30px;
  padding-left: 5px;
  float: left;
  background-color: initial;
  padding-top: 5px;
  margin-left: 10px;
  font-size: 16px;
}
.icon-box i {
  font-size: 1.7rem;
}
/* ----#search-box ------------ */
i.fa-brands {
  font-size: 24px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  color: #b589089e;
  cursor: pointer;
}
.header-text-box {
  text-align: center;
  display: block;
  position: relative;
  top: 65px;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid lightgray;
}
ul {
  display: block;
  word-spacing: 15px;
}
li {
  display: inline-block;
  height: 40px;
}
#nav-button {
  display: none;
}
.header-text-box li:hover {
  border-bottom: 2px solid #ffc400fa;
}
i.fa-bars {
  display: none;
}
/*-------start planning dropdown menu----------------*/
.first-list-menu .dropdown summary::before {
  display: none;
}

#responsive-nav .first-list-menu .hover-3{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 30rem;
  height: 40rem;
  align-items: flex-start;
  line-height: 2.2rem;
  margin-top: 1.6rem;
  z-index: 1;
  border-radius: 6px;
  cursor: auto;

  animation: opacity 400ms ease-out 1 alternate;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
#responsive-nav .first-list-menu ul li {
  display: block;
  padding: 3rem;
  word-spacing: 0;
  border-bottom: none;
  color: black;
}
#responsive-nav .first-list-menu ul li a {
  display: block;
  text-decoration: none;
  color: rgb(62, 50, 50);
  font-weight: bold;
  cursor: pointer;
}
#responsive-nav .first-list-menu ul li a i {
  margin-right: 1rem;
  color: #b589089e;
}
.second-list-text {
  position: absolute;
  font-size: 1.2rem;
  color: lightslategray;
}
.dropdown summary {
  display: inline;
  list-style-type: none;
}
.box:hover {
  width: 100%;
  height: 8rem;
  background-color: #3d3b3713;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all;
}
.box:hover .second-list-text {
  color:#007fee;
}

.hover-3:hover .box {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.hover-3:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(49, 49, 48, 0.125);
}
/*-------end planning dropdown menu----------------*/
@media (max-width: 480px) {
  .navbar-header {
    padding-bottom: 1.2rem;
  }
  .header-text-box {
    float: right;
    top: 1rem;
    right: -10rem;
    font-size: 3rem;
    cursor: pointer;
    height: 40px;
    border: none;
    width: 0rem;
  }
  #responsive-nav {
    animation: move 1s ease-in-out 2 alternate;
  }
  @keyframes move {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(-200px);
    }
  }
  .right-header-box {
    visibility: hidden;
  }

  .left-header-box h1 {
    display: none;
  }
  #nav-button ~ nav {
    display: none;
  }
  #nav-button:checked ~ nav {
    display: block;
  }
  #nav-button {
    display: none;
  }
  #checkbox-label {
    display: flex;
    width: 42px;
    height: 42px;
    text-align: center;
    cursor: pointer;
  }

  #responsive-nav ul {
    position: relative;
    top: 4rem;
    width: 25rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 3rem;
    top: 0rem;
    right: 20rem;
    border-radius: 6px;
    padding: 7rem;
    background-color: #3d3b37;
    z-index: 2;
  }
  #responsive-nav li {
    font-weight: 600;
    color: white;
    border-bottom: none;
    font-size: 2rem;
  }
  /*******/
  #responsive-nav .first-list-menu .hover-3 {
    width: 24rem;
    height: 50%;
    align-items: center;
    line-height: 1.5rem;
    margin-top: 0rem;
    z-index: 2;
    margin-right: 5rem;
    background-color: #3d3b37;
  }
  #responsive-nav .first-list-menu ul li {
    font-size: 1.4rem;
    width: 20rem;
    padding: 0;
    top: 0;
  }
  #responsive-nav .first-list-menu ul li a {
    text-align: center;
    color: white;
  }
  .first-list-menu .second-list-text {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 6rem;
    color: #007fee;
  }
  .first-list-menu .second-list-text:hover {
    border-bottom: 1px solid #ffc400fa;
  }
}

#nav-button + label::before {
  font: var(--fa-font-solid);
  content: "\f0c9";
  font-size: 3.5rem;
  color: #007fee;
}

#nav-button:checked + label::before {
  content: "Close";
  font: var(--fa-font-solid);
  content: "\f00d";
  font-size: 3.5rem;
}

.header-text-box label {
  display: none;
}
@media (min-width: 481px) and (max-width: 855px) {
  .header-text-box {
    border-bottom: none;
  }
  #responsive-nav ul li {
    position: relative;
    left: -6rem;
  }
  .right-header-box {
    display: none;
  }

  #responsive-nav .first-list-menu ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 30rem;
    height: 36rem;
    align-items: flex-start;
    line-height: 2.2rem;
    margin-top: 1.6rem;
    z-index: 1;
    border-radius: 6px;
    cursor: auto;
  }
  #responsive-nav .first-list-menu ul li {
    left: 0rem;
  }
}
/*----------start contact form-----------------------*/
.contact-container input[type="text"],
.contact-container input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}
.contact-container label {
  color: whitesmoke;
  display: block;
  float: left;
}
option {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-container input[type="submit"] {
  background-color: #b589089e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 2.2rem;
}

input[type="submit"]:hover {
  background-color: #9f87459e;
}

.contact-container {
  border-radius: 5px;
  background-color: rgb(79, 78, 73);
  padding: 20px;
  position: absolute;
  width: 90vw;
  left: 6rem;
  margin-top: 1.6rem;
}
@media (max-width: 480px) {
  .contact-container {
    left: -18rem;
  }
  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
@media (min-width: 481px) and (max-width: 850px) {
  .contact-container {
    left: -30rem;
  }
}
/*-------------end contact form---------------------*/
/*---------start slidshow container-------------*/
.photo-container {
  display: inline-block;
  position: relative;
}
.dropdown-photo {
  display: inline-block;
}
summary {
  list-style-type: none;
}
.mySlides {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}
.fade img {
  width: 100rem;
  height: 70rem;
  object-fit: cover;
  border-radius: 2rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: #3d3b3770;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0rem;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ee8505;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.header-text-box .photo-container:hover {
  border-bottom: none;
}

/* On smaller screens, */
@media (max-width: 480px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }

  .next {
    right: 0rem;
  }
  
  .slideshow-container {
    left: -23rem;
  }
  .fade img {
    height: 40rem;
    width: 40rem;
  }
.circle-img-unterbox{
position: relative;
width: 100%;
right: 23rem;  
}
.dot{
  height: 0.8rem;
  width: 0.8rem;

}
}
@media (min-width: 481px) and (max-width: 1200px) {
  .fade img {
    width: 70vw;
    height: 60rem;
    object-fit: cover;
    object-position: center center;
  }
}

  .numbertext {
    margin-left: 10rem;
    font-weight: bold;
  }

/*---------end slidshow container-------*/
/*--------------main------------*/
main {
  width: 90%;
  margin: 0 auto;
}
/*---------FIRST TEXT SECTION--------------*/
.main-header-text {
  height: auto;
  padding: 30px;
  text-align: center;
}
.main-header-text p {
  color: rgb(47, 46, 46);
  padding-bottom: 10px;
  font-size: 2rem;
}
.main-header-text h2 {
  color: #6e5303f2;
  padding-bottom: 2rem;
  font-size: 7rem;
  font-weight: 900;
}
.main-header-text h4 {
  font-weight: 400;
  font-size: 1.8rem;
  color: rgb(47, 46, 46);
  line-height: 3rem;
}
/*--------------HAOUPT_BLOG-------------------------*/
.item-1 {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/blog-imag/cable-beach-alamy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin: 0 auto;
  height: 55rem;
  width: 90vw;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 7rem;
}
.item-1 h3 {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(246, 230, 208);
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
    color: rgb(242, 216, 102);
  }
  25% {
    color: rgb(235, 182, 39);
  }
  50% {
    color: rgb(240, 192, 97);
  }
  75% {
    color: rgb(233, 191, 129);
  }
  100% {
    color: rgb(231, 217, 196);
  }
}
.item-1 p {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(246, 244, 241);
  text-align: center;
}
.text_item_1 {
  opacity: 1;
  animation: move 2s ease-in-out 2 alternate;
  animation-delay: 1s;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@keyframes move {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-200px);
  }
}
.text_item_2 h3 {
  transition: all 2s ease-out;
  padding-bottom: 2rem;
}
.item-1:hover {
  transition: all 2s ease-in-out;
  transform: scale(1.05);
  position: relative;
  box-shadow: 0 25px 80px -7px rgba(74, 73, 73, 0.25);
}

@media (max-width: 500px) {
  .text_item_1 {
    animation: move 4s ease-in-out 1 forwards;
    animation-delay: 1s;
  }
  @keyframes move {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(220px);
    }
  }
  .item-1 p {
    position: relative;
    bottom: 18rem;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .item-1 h3 {
    position: relative;
    bottom: 18rem;
    font-size: 2rem;
  }
  .item-1 {
    height: 40rem;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .item-1 {
    height: 50rem;
  }
}
/*-----------main-section-------------*/
.main-section {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-section div {
  width: 30%;
}

.main-section img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9 {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid lightgray;
  height: 50rem;
  width: 30%;
  transform: scale(1);
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s;
  background-color: #2a1f0066;
}
.main-section .text-box-blog-2 {
  width: 100%;
  height: 23rem;
  text-align: left;
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}
.main-section h2 {
  color: #012e39e3;
  font-size: 2rem;
  text-transform: uppercase;
}

.main-section p {
  font-weight: 400;
  color: #f7f6f4;
  line-height: 1.9rem;
  font-size: 1.8rem;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 3rem;
}
.item-5 p,
.item-6 p,
.item-7 p {
  color: #f7f6f4;
}
.owner-box {
  height: 7rem;
  position: relative;
  bottom: 1rem;
  width: 100vw;
}
h6 {
  height: 10%;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(242, 229, 189);
}
.main-section span {
  color: whitesmoke;
}
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover,
.item-6:hover,
.item-7:hover,
.item-8:hover,
.item-9:hover {
  transform: scale(1.05);
  position: relative;
  box-shadow: 0 25px 80px -7px rgba(74, 73, 73, 0.25);
}
@media (max-width: 500px) {
  .main-section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .main-section div {
    flex: 1 1 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-section {
    width: 100vw;
    display: inline-block;
    gap: 1rem;
  }
  .main-section .item-2,
  .main-section .item-3,
  .main-section .item-4,
  .main-section .item-5,
  .main-section .item-6,
  .main-section .item-7,
  .main-section .item-8,
  .main-section .item-9 {
    width: 40%;
    display: inline-block;

    margin-left: 2rem;
  }
}
#responsive-nav {
  display: block;
}

/*------------footer--------------*/

.footer-dark {
  margin-top: 10rem;
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #27231fd9;
}
.footer-dark .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 2rem;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  word-spacing: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
