* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
}
body {
  background-color: #1f2833;
}
.navbar-header {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100px;
}
/*----left-header box-------*/
.left-header-box {
  float: left;
  padding-left: 1.5rem;
  width: 220px;
  height: 55px;
}
h1 {
  top: 0.8rem;

}
a {
  text-decoration: none;
  color: white;
}
/*---------right header box----------*/
.icon-box {
  vertical-align: middle;
  width: 35px;
  display: inline-block;
  height: 35px;
  position: relative;
  margin-right: 5px;
  top: 0.5rem;
  transition: transform 0.3s ease;
  background-color: #b589089e;
  border-radius: 50%;
  text-align: center;
}
.icon-box i {
  cursor: pointer;
  position: relative;
  top: 8px;
  color: white;
}
.navbar-header h1,
.navbar-header span {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
 font-size: 1.5rem;
}
.navbar-header span {
top: 1rem;
font-weight: 600;
  font-size: 1.4rem;
}
.right-header-box {
  float: right;
  display: block;
  width: 150px;
  height: 55px;

}

#search-box {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 37px;
  border-radius: 20px;
  top: 0.8rem;
  background-color: rgb(194, 183, 169);
}
@media (max-width: 500px) {
  #search-box {
    width: 20rem;
  }
}
input {
  width: 150px;
  border: none;
  outline: none;
  height: 30px;
  padding-left: 5px;
  float: left;
  background-color: initial;
  padding-top: 5px;
  margin-left: 10px;
  font-size: 16px;
}
.icon-box i {
  font-size: 1.7rem;
}
/* ----#search-box ------------ */
i.fa-brands {
  font-size: 24px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  text-align: center;
  color: #b589089e;
  cursor: pointer;
}
.header-text-box {
  text-align: center;
  display: block;
  position: relative;
  top: 65px;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
}
ul {
  display: block;
  word-spacing: 15px;
}
li {
  display: inline-block;
  height: 40px;
  color: white;
  font-weight: bold;
}
#nav-button {
  display: none;
}
.header-text-box li:hover {
  position: relative;
  border-bottom: 2px solid #ffc400fa;
}
i.fa-bars {
  display: none;
}
/*-------start planning dropdown menu----------------*/
#responsive-nav .first-list-menu ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #bc986a;
  width: 30rem;
  height: 36rem;
  align-items: flex-start;
  line-height: 2.2rem;
  margin-top: 1.6rem;
  z-index: 1;
  border-radius: 6px;
  cursor: auto;

  animation: opacity 400ms ease-out 1 alternate;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
#responsive-nav .first-list-menu ul li {
  display: block;
  padding: 3rem;
  word-spacing: 0;
  border-bottom: none;
color: #bc986a;
}
#responsive-nav .first-list-menu ul li a {
  display: block;
  text-decoration: none;
  color: rgb(62, 50, 50);
  font-weight: bold;
  cursor: pointer;
}
#responsive-nav .first-list-menu ul li a i {
  margin-right: 1rem;
  color: beige;
}
.second-list-text {
  position: absolute;
  font-size: 1.2rem;
  color: lightslategray;
}
.dropdown summary {
  display: inline;
  list-style-type: none;
}
/*-------end planning dropdown menu----------------*/
@media (max-width: 500px) {
  .navbar-header {
    padding-bottom: 1.2rem;
  }
  .header-text-box {
    float: right;
    top: 1rem;
    right: -10rem;
    font-size: 3rem;
    cursor: pointer;
    height: 40px;
    border: none;
    width: 0rem;
  }

  .right-header-box {
    visibility: hidden;
  }

  .left-header-box h1 {
    display: none;
  }
  #nav-button ~ nav {
    display: none;
  }
  #nav-button:checked ~ nav {
    display: block;
  }
  #nav-button {
    display: none;
  }
  #checkbox-label {
    display: flex;
    width: 42px;
    height: 42px;
    text-align: center;
    cursor: pointer;
  }

  #responsive-nav ul {
    position: relative;
    top: 4rem;
    width: 25rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 3rem;
    top: 0rem;
    right: 20rem;
    border-radius: 6px;
    padding: 7rem;
    background-color: #3d3b37;
    z-index: 2;
  }
  #responsive-nav li {
    font-weight: 600;
    color: white;
    border-bottom: none;
    font-size: 2rem;
  }

  #nav-button + label::before {
    font: var(--fa-font-solid);
    content: "\f0c9";
    font-size: 3.5rem;
    color: #007fee;
  }

  #nav-button:checked + label::before {
    content: "Close";
    font: var(--fa-font-solid);
    content: "\f00d";

    font-size: 3.5rem;
  }
  #nav-button:checked body {
    background-color: #007fee;
  }
  /*******/
  #responsive-nav .first-list-menu ul {
    width: 24rem;
    align-items: center;
    line-height: 1.5rem;
    margin-top: 0rem;
    z-index: 2;
    margin-right: -2rem;
    background-color: #3d3b37;
  }
  #responsive-nav .first-list-menu ul li {
    font-size: 1.4rem;
    width: 20rem;
    padding: 0;
    top: 0;
  }
  #responsive-nav .first-list-menu ul li a {
    text-align: center;
    color: white;
  }
  .first-list-menu .second-list-text {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 6rem;
    color: #007fee;
  }
  .first-list-menu .second-list-text:hover {
    border-bottom: 1px solid #ffc400fa;
  }
}
@media (min-width: 481px) and (max-width: 855px) {
  .header-text-box {
    border-bottom: none;
  }
  #responsive-nav ul li {
    position: relative;
    left: -6rem;
  }
  .right-header-box {
    display: none;
  }
  
  #responsive-nav .first-list-menu ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #BC986A;
    width: 30rem;
    height: 36rem;
    align-items: flex-start;
    line-height: 2.2rem;
    margin-top: 1.6rem;
    z-index: 1;
    border-radius: 6px;
    cursor: auto;
  }
  #responsive-nav .first-list-menu ul li {
    left: 0rem;
  }
}
/*----------start contact form-----------------------*/
.contact-container input[type="text"],
.contact-container input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}
.contact-container label {
  color: whitesmoke;
  display: block;
  float: left;
}
option {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-container input[type="submit"] {
  background-color: #b589089e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
   padding-top: 0rem;
}

input[type="submit"]:hover {
  background-color: #9f87459e;
}

.contact-container {
    position: absolute;
  border-radius: 5px;
  background-color: rgba(79, 78, 73, 1);
  padding: 20px;
  width: 70vw;
 left: -50rem;
  margin-top: 1.6rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .contact-container {
    left: -25rem;
    width: 42rem;
  
  }
   input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
@media (min-width: 481px) and (max-width: 850px) {
  .contact-container {
    left: -40rem;
  }
}
/*-------------end contact form---------------------*/
/*--main-------------------------------------------------------*/

.first-section {
  height: 800px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/blog-imag/2.\ EAGLE\ BEACH\ _ARUBA.webp);
  background-position: center center;
  top: 0;
  left: 0;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 50px;
}
h3 {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(246, 230, 208);
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
    color: rgb(242, 216, 102);
  }
  25% {
    color: rgb(235, 182, 39);
  }
  50% {
    color: rgb(240, 192, 97);
  }
  75% {
    color: rgb(233, 191, 129);
  }
  100% {
    color: rgb(231, 217, 196);
  }
}

.first-section p {
  color: rgb(194, 190, 190);
  font-size: 2rem;
  word-spacing: 4px;
}
.first-section div {
  animation: mimove 1s ease-in-out 3 alternate;
  animation-delay: 1s;
}
@keyframes mimove {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-200px);
  }
}

@media (max-width: 500px) {
  .first-section {
    height: 400px;
    gap: 15px;
  }
  .first-section h3 {
    font-size: 2rem;
  }
  .first-section p {
    font-size: 1.2rem;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .first-section {
    height: 550px;
  }
}
/*---------second section-----------*/
.second-section {
  height: auto;
  padding: 1rem;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .second-section {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .second-section-left-container {
    width: 100vw;
    flex: 1 1 100%;
  }
  .second-section-right-container {
    flex: 1 1 100%;
    width: 100vw;
  }
}
.left-main-header-box p {
  font-size: 1rem;
  padding-left: 1rem;
    color: #f0eeeb;
}
@media (max-width: 500px) {
  .second-section {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
}
/*------------left_container----------------*/
.second-section-left-container {
  height: auto;
  width: 60%;
}
@media (max-width: 500px) {
  .second-section-left-container {
    width: 100%;
    height: auto;
  }
}
.left-main-header-box {
  width: 100%;
  height: 40px;
}

h4 {
  font-size: 1.4rem;
  color: rgb(118, 116, 116);
  padding-bottom: 2rem;
  font-weight: 300;
  padding-left: 1rem;
}
h5 {
  font-size: 2rem;
  color: #bc986a;
  padding-bottom: 2rem;
  text-align: left;
  line-height: 3rem;
  padding-left: 1rem;
}
h2 {
  padding-left: 1rem;
  color: #007fee;
  width: 11rem;
  font-size: 2rem;
  border-bottom: 2px solid lightgray;
  padding-bottom: 1rem;
}
h6 {
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 1rem;
  line-height: 3rem;
  color: #bc986a;
}
.wiki-text-box {
  border-bottom: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

/*------------right_container-----------*/
.second-section-right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;
  width: 30%;
  border-bottom: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.right-main-header-box p {
  width: 100%;
  color: #007fee;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  animation: move 2s linear infinite;
}
@keyframes move {
  0% {
    color: #007fee;
  }
  25% {
    color: #896504ad;
  }
  50% {
    color: #b589089e;
  }
  100% {
    color: #ff6600fa;
  }
}

.right-image-box {
  height: auto;
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 500px) {
  .second-section-right-container {
    width: 100%;
  }
}
.item-1 {
  grid-area: 1/1/2/2;
}
.item-2 {
  grid-area: 1/2/1/3;
}
.right-image-box img {
  object-fit: cover;
  height: 100px;
  width: 100%;
}
.second-section-right-text-box {
  margin-top: 50px;
  text-align: center;
  flex-shrink: 1;
  padding-bottom: 30px;
}
.right-main-link {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.icon-right-main-box {
  text-align: center;
  word-spacing: 20px;
  padding-top: 15px;
}
.icon-right-main-box span {
  color: black;
  font-size: x-large;
  padding-right: 15px;
  cursor: pointer;
}
.right-image-box img:hover {
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
}
i {
  color: #bc986a;
  padding-bottom: 2rem;
}
.second-section-right-text-box {
  width: 100%;
}
.second-section-right-text-box span {
  color: #bc986a;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
  float: left;
}
.second-section-right-text-box a {
  float: right;
  font-size: 1.5rem;
  position: absolute;
}
/*------footer-------*/
.card {
  width: 100%;
  margin-left: 2rem;
  background-color: #38424e;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.card-text {
  color: #bc986a;
  font-size: 1.2rem;
}
.card-title {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #bc986a;
}
.card-text-2 {
  font-size: 1.5rem;
  margin-top: -2rem;
   color: white;
}
.card-text-1 {
  font-size: 2rem;
  text-transform: uppercase;
  animation: move 2s linear infinite;
}
@keyframes move {
  0% {
    color: #007fee;
  }
  25% {
    color: #896504ad;
  }
  50% {
    color: #b589089e;
  }
  100% {
    color: #ff6600fa;
  }
}
.col-md-4 img {
  height: 100%;
}
.card-text-1::after {
  font: var(--fa-font-solid);
  content: "\f25a";
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  left: 4rem;
}
.card:hover .card-text-1::after {
  transition: transform 2s ease-in-out;
  transform: translateX(90px);
}
.py-3 {
  position: relative;
  top: 8rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #bc986a;
}
